/***********************************************************/
/*************************** Color *************************/
/***********************************************************/

$color-black: #3d3b48;
$color-blue-grayish: #b9b6d3;
$color-green: #38cc8b;
$color-green-light: #77e2b3;
$color-grey: #dedede;
$color-purple: #5e54a4;
$color-red: #ff7979;
$color-white: #fff;
