@import './partials/variables', './partials/functions';

.header__heading {
  color: $color-white;
  font-size: 2.8rem;
  font-weight: 700;
  letter-spacing: em(-0.29, 28);
  line-height: lineHeight(36, 28);
  text-align: center;
}

.header__description {
  color: $color-white;
  font-weight: 500;
  line-height: lineHeight(26, 16);
  margin-top: 1.6rem;
  text-align: center;
}

/***********************************************************/
/**************** @media (max-width: 374px) ***************/
/***********************************************************/
@media (max-width: 374px) {
  .header__heading {
    font-size: 2.3rem;
  }

  .header__description {
    font-size: 1.5rem;
  }
}

/***********************************************************/
/**************** @media (min-width: 750px) ***************/
/***********************************************************/
@media (min-width: 750px) {
  .header__heading {
    font-size: 4rem;
    letter-spacing: em(-0.52, 50);
    line-height: lineHeight(55, 50);
  }

  .header__description {
    font-size: 2.1rem;
    margin-top: 3.5rem;
  }
}

/***********************************************************/
/**************** @media (min-width: 950px) ***************/
/***********************************************************/
@media (min-width: 950px) {
  .header {
    max-width: 57.1rem;
  }

  .header__heading {
    font-size: 5rem;
    letter-spacing: em(-0.52, 50);
    line-height: lineHeight(55, 50);
  }

  .header__description {
    font-size: 2.6rem;
    margin-top: 4.2rem;
  }
}
