@import './partials/variables', './partials/functions';

.main a {
  text-decoration: none;
}

.main__heading {
  background-color: $color-purple;
  border-radius: 10px;
  box-shadow: 0 8px 0 rgba(0, 0, 0, 0.15);
  color: $color-white;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: em(0.27, 15);
  line-height: lineHeight(26, 15);
  margin-top: 6.4rem;
  padding: 1.8rem 5.3rem;
  text-align: center;
}

.form {
  background-color: $color-white;
  border-radius: 10px;
  box-shadow: 0 8px 0 rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  margin-top: 2.4rem;
  padding: 2.4rem;
}

.form__box {
  align-items: center;
  border: 1px solid $color-grey;
  border-radius: 5px;
  color: $color-black;
  display: flex;
  font-size: 1.4rem;
  font-weight: 600;
  justify-content: space-between;
  letter-spacing: em(0.25, 14);
  line-height: lineHeight(26, 14);
  min-height: 5.6rem;
  padding: 1rem;
}

.form__box__input {
  border: none;
  color: $color-black;
  flex-grow: 1;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: em(0.25, 14);
  line-height: lineHeight(26, 14);
  outline: none;
  width: 10rem;
}

.form__box__input::placeholder,
.form__box__input::-webkit-input-placeholder,
.form__box__input::-moz-placeholder,
.form__box__input::-ms-input-placeholder {
  color: $color-black;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: em(0.25, 14);
  line-height: lineHeight(26, 14);
}

.form__box:focus {
  border: 2px red solid;
}

.border-error {
  border: 2px solid $color-red;
}

.icon-error {
  visibility: hidden;
}

.message-error {
  color: $color-red;
  font-size: 1.1rem;
  font-style: italic;
  font-weight: 500;
  line-height: lineHeight(17, 11);
  margin: 0 0.8rem 1.6rem 0;
  text-align: right;
}

.show-error {
  visibility: visible;
}

.button {
  background-color: $color-green;
  border: none;
  border-radius: 5px;
  box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.09);
  color: $color-white;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: em(1, 15);
  line-height: lineHeight(26, 15);
  padding: 1.5rem 4.2rem;
  text-align: center;
  text-transform: uppercase;
}

.button:active {
  background-color: $color-green;
}

.button:hover {
  background-color: $color-green-light;
}

.main__form-info {
  color: $color-blue-grayish;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: lineHeight(21, 11);
  margin: 0.8rem 1.95rem 0 1.95rem;
  text-align: center;
}

.successMessage {
  background-color: $color-white;
  border-radius: 10px;
  box-shadow: 0 8px 0 rgba(0, 0, 0, 0.15);
  // display: flex;
  flex-direction: column;
  margin-top: 2.4rem;
  padding: 2.4rem;
  display: none;
}

/***********************************************************/
/**************** @media (max-width: 374px) ***************/
/***********************************************************/
@media (max-width: 374px) {
  .main__heading {
    margin-top: 4.9rem;
    padding: 1.8rem 4.1rem;
  }

  .form__box {
    min-width: 7.9rem;
  }

  .button {
    padding: 1.5rem 3.5rem;
  }
}

/***********************************************************/
/**************** @media (min-width: 750px) ***************/
/***********************************************************/
@media (min-width: 750px) {
  .form__box {
    min-width: 32.7rem;
  }
}

/***********************************************************/
/**************** @media (min-width: 950px) ***************/
/***********************************************************/
@media (min-width: 950px) {
  .main__heading {
    margin-top: 0;
    max-width: 54rem;
    padding: 1.7rem 11rem;
  }

  .form {
    border-radius: 10px;
    max-width: 54rem;
    padding: 4rem;
  }

  .form__box {
    min-width: 46rem;
  }

  .main__form-info {
    line-height: lineHeight(26, 11);
    margin: 0.8rem 1.45rem 0 1.45rem;
  }
}
